body{
    background-image: url(fondo1.jpg);
display: flex;
align-content: center;
justify-content: center;
background-size: auto;
    background-repeat: repeat-x;
    background-attachment: fixed;
    background-position: center;

}

.container{
    flex-direction: column;
    width: 65vmax;
    height: auto;

    border-radius: 3vmin;

}
#contenedor_citas{
   
    padding: 1vmax;
    margin-top: 4vmax;
    display: flex;
    flex-direction: column;
    gap: 3vmax;
    align-items: center;
}

.encabezado{
    display: flex;

}

.encabezado_izquierdo{
    background: rgb( 255, 253, 208);
    border-radius: 3vmax;
}

#boton1{
    width: 40vmax;
height: 20vmax;
box-shadow: 10px  10px 15px  rgba(0, 0, 0, 0.884);
background: rgb( 255, 253, 208);
transition: transform .2s;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
#boton1 h2{
    font-family:'Courier New', Courier, monospace
}
.pokeball{
    width: 12vmax ;
    height: 12vmax;
}
.gif{
    width: 15vmax;
    height: 15vmax;
}


#boton1:hover{
    transform: scale(1.2);
}

.pokeball, #boton1:hover .gif{
display:flex;
}


.gif, #boton1:hover .pokeball{
 display: none;
}


#boton2{
    width: 8vmax;
    height: auto;
    margin-top: 1vmax;
    transition: transform .2s;
    box-shadow: 6px  6px 15px  rgba(0, 0, 0, 0.884);
    border-radius: 1vmax;
    border-color: white;
}

#boton2:hover{
    box-shadow: 6px  6px 15px  rgba( 57, 255, 20);
    border: 2px solid rgb(0, 174, 255);
}

.icon-x{
 position: absolute;
 right:2%;
 top: 2%;
    width: 5%;
    height: 8%;
    transition: transform .2s;
}
.icon-x:hover{
    transform: scale(1.2);

}

.encabezado_izquierdo {
    display: flex;
    flex-direction: column;
    width: 20vmax;
    justify-content: center;
    align-items: center;
  }

  .encabezado_izquierdo div {
    display: flex;
    align-items: center;
    width: 3vmax;
    margin-right: 6vmin;
     }

.encabezado_derecho{
    width: 50vmax;
    align-items: center;
    justify-content: center;
    display: flex;
}

#crear_cita{
    display:none;
    position:fixed;
    background: rgb( 255, 253, 208);
    padding: 1vmax;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.884);
    right: 19vmax;

}
.top{
    display: flex;

}
.tipo{
    line-height:1%;
    display: flex;
}
.top_derecho{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    line-height: 1%;
    height: 8rem;
}

 input{
    width: 70%;
}
.top_izquierdo{
    display: flex;
    flex-direction: column;
    margin-top: 4.5vmax;
}


/* alerta */

.alert-container {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 2px solid darkred;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.884);
    width: 400px;
    color: darkred;
  
  }
  
  .alert-header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  #alert-content {
    font-size: large;
    color: black;
  
  }
  
  .alert-buttons {
    text-align: right;
  }
  
  .alert-button {
    padding: 10px 20px;
    background-color: rgb(49, 49, 49);
    color: white;
    font-weight: 800;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
    margin-top: 3%;
    transition: transform .2s;
  }
  
  .alert-button:hover {
    background-color: darkred;
  }
  
  

  .tarjeta{
    background: rgb( 255, 253, 208);
    padding: 1vmax;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.884);
    width: 45vmax;
    height: 25vmax;
    line-height:0.2vmin;
  }
  .card_top{
    gap: 3%;
  }

  .card_left{
    display: flex;
    flex-direction: column;
    margin-top: 4.5vmax;

  }

.card_right{
display: flex;
flex-direction: row;
gap: 2vmax;
}

.int{
    display: flex;
flex-direction: column;
}


.int p{
    margin-top: -1vmin;
}
.tarjeta p{

border: 1px solid black;
width: 10vmax;
height: 0.5vmax;
padding: 1vmin;

}

.sintomas{
    border: 1px solid black;
width: 43vmax;
height: 5vmax;
padding: 1vmin;
margin-top: -1.5vmin;
text-align: left;
overflow: scroll;


}
.type{
    line-height:1vmin;
    display: flex;
}
.type p{
    width: 8vmax;
}
.name{
    margin-top: 2vmax;
    margin-bottom: -2vmin;
}
.name h5{
    margin-bottom: -0.8vmin;
}

.name p{
    width: 10.3vmax;;
}
.info{
    text-align: center;
    margin-top: -3vmin;
}

.pie{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vmin;
}

.botonc{
    width: 10vmin;
    height: auto;
    transition: transform .2s;
    border-radius: 1vmax;
    border-color: white;
}

.botonc:hover{
    box-shadow: 6px  6px 10px  rgba(0, 0, 0, 0.884);
    transform: scale(1.2);

}

.fotos{
    position:absolute;
    width: 16vmin;
    height: 18vmin;
    margin-top: -2vmin;
    transition: transform .2s;
}

.fotos:hover {
    transform: scale(1.5);
} 

.fotos1{
    position:absolute;
    width: 12vmin;
    height: 14vmin;
    margin-top: -2vmin;
    transition: transform .2s;
    left: 3%;
    top: 4%;
}

.fotos1:hover {
    transform: scale(1.5);
} 